@import url('fonts.googleapis.com');
:root {
  --cream: #fbf8ee;
  --light-beige: #ede9d2;
  --beige: #dfd7b9;
  --dark-line: #b9b9b9;
  --text-dark: #1f1f1f;
}


body {
  margin: 0;
  background-color: var(--cream);
  color: var(--text-dark);
}


.site-header {
  border-bottom: 1px solid var(--dark-line);
  padding: 18px 40px;
  font-family: 'Puritan', sans-serif;
  font-size: 15px;
}


.grid-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, minmax(90px, auto));
  gap: 0;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  border-left: 1px solid var(--dark-line);
}


.hero-title {
  grid-column: 2 / 9;
  grid-row: 1 / 4;
  font-family: 'Lustria', serif;
  font-size: 64px;
  line-height: 1.15;
  font-weight: normal;
  margin: 60px 0 0 0;
}



.tile {
  font-family: 'Lustria', serif;
  font-size: 18px;
  padding: 28px;
  display: flex;
  align-items: flex-end;
  line-height: 1.3;
}


.anatomy {
  grid-column: 2 / 5;
  grid-row: 3 / 5;
  background-color: var(--light-beige);
}

.history {
  grid-column: 2 / 5;
  grid-row: 5 / 8;
  background-color: var(--beige);
}

.concentration {
  grid-column: 5 / 8;
  grid-row: 4 / 6;
  background-color: var(--beige);
  align-items: center;
}

.application {
  grid-column: 5 / 8;
  grid-row: 6 / 8;
  background-color: var(--cream);
  align-items: center;
}

.formulation {
  grid-column: 8 / 11;
  grid-row: 4 / 6;
  background-color: var(--light-beige);
  align-items: center;
}

.ingredients {
  grid-column: 8 / 11;
  grid-row: 6 / 8;
  background-color: var(--beige);
  align-items: center;
}

.scent {
  grid-column: 11 / 13;
  grid-row: 2 / 5;
  background-color: var(--beige);
  align-items: center;
  text-align: center;
}

.global {
  grid-column: 11 / 13;
  grid-row: 7 / 9;
  background-color: var(--cream);
  align-items: center;
  text-align: center;
}

.grid-page::before {
  content: "";
  position: absolute;
  left: calc(8.333% * 1);
  top: 0;
  height: 100%;
  width: 1px;
  background-color: var(--dark-line);
}